name: Publish to PyPI

on:
  push:
    branches:
      - master
      - dev

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel twine
        pip install -r requirements.txt
    - name: Set version
      run: |
        python .github/build/set_version.py > topologic/version/version.txt
        cat topologic/version/version.txt
    - name: Type check with mypy
      run: |
        mypy ./topologic
        mypy ./tests
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 ./topologic ./tests --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 ./topologic ./tests --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        SKIP_TEST_35=true pytest -v tests topologic --doctest-modules
    - name: Generate docs with Sphinx
      run: |
        sphinx-build -W -a docs/ docs/_build/html
    - name: Build with setuptools
      run: |
        python setup.py build sdist
    - name: Publish with twine
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        twine upload dist/*
