name: Type check, lint, and test

on: [push]

jobs:
  validate:

    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python_version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{matrix.python_version}}
      uses: actions/setup-python@v1
      with:
        python-version: ${{matrix.python_version}}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        pip install -r requirements.txt
    - name: Type check with mypy
      run: |
        mypy ./topologic
        mypy ./tests
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 ./topologic ./tests --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 ./topologic ./tests --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        SKIP_TEST_35=true pytest tests topologic --doctest-modules
    - name: Build with setuptools
      run: |
        python setup.py build sdist
    - name: Generate docs with Sphinx
      run: |
        sphinx-build -W -a docs/ docs/_build/html
